body{
    background-color: dimgray;
    position: absolute;
    width: 3344px;
    height: 100px;
}
.menu{
   background-color: white;
   height: 90px;
   width: 100vw;
   position: fixed;
   top:0;
   left:0;
}
.heroimage{
    background-color: aquamarine;
    height: 800px;
    width: 55vw;
    position: relative;
    right: 20px;
    top: 100px;
}
.heroimage2{
    background-color: aliceblue;
    height: 800px;
    width: 40vw;
    position: absolute;
    top: 100px;
    left: 1300px;
}
.background{
    background-color: black;
    position: absolute;
    height: 800px;
    width: 65vw;
    left: 475px;
    top: 950px;
}
.block1{
    background-color: aliceblue;
    height: 400px;
    width: 550px;
    position: absolute;
    left: 530px;
    top: 1000px;
}
.block2{
    background-color: aliceblue;
    height: 400px;
    width: 600px;
    position: absolute;
    left: 1240px;
    top: 1000px; 
}
.block3{
    background-color: aliceblue;
    height: 400px;
    width: 600px;
    position: absolute;
    left: 2000px;
    top: 1000px;
}
.endmenu{
    background-color: aqua;
    height: 350px;
    width: 100vw;
    position: relative;
    top: 1000px;
}