body{
    background-color: violet;
    position: relative;
    width: 3344px;
    height: 3500px;
}
.menu{
    background-color: black;
    height: 100px;
    width: 1500px;
    position: relative;
    left: 230px;
    top: 0;
}
.menutabs{
    background-color: aqua;
    position: absolute;
    height: 30px;
    width: 1500px;
    left: 230px;
    top: 70px;
}
.heroimage{
    background-color: aliceblue;
    position: absolute;
    height: 600px;
    width: 1500px;
    left: 230px;
    top: 110px;
}
.image1{
    background-color: chartreuse;
    height: 400px;
    width: 730px;
    position: absolute;
    top: 730px;
    left: 230px;
}
.image2{
    background-color: chartreuse;
    height: 400px;
    width: 730px;
    top: 730px;
    left: 1000px;
    position: absolute;
}
.styler1{
    background-color: brown;
    height: 500px;
    width: 370px;
    position: absolute;
    left: 230px;
    top: 1300px;
}
.styler2{
    background-color: aqua;
    height: 500px;
    width: 370px;
    position: absolute;
    left: 610px;
    top: 1300px;
}
.styler3{
    background-color: chocolate;
    height: 500px;
    width: 370px;
    position: absolute;
    top: 1300px;
    left: 990px;
}
.styler4{
    background-color: crimson;
    height: 500px;
    width: 360px;
    position: absolute;
    left: 1370px;
    top: 1300px;
}
.product1{
    background-color: black;
    height: 500px;
    position: absolute;
    width: 370px;
    left: 230px;
    top: 2000px;
}
.product2{
    background-color: aquamarine;
    width: 370px;
    height: 500px;
    position: absolute;
    left: 610px;
    top: 2000px;
}
.product3{
    background-color: darkgoldenrod;
    width: 370px;
    height: 500px;
    position: absolute;
    left: 990px;
    top: 2000px;
}
.product4{
    background-color: crimson;
    width: 360px;
    height: 500px;
    position: absolute;
    left: 1370px;
    top: 2000px;
}
.top1{
    background-color: blueviolet;
    height: 350px;
    width: 370px;
    left: 230px;
    position: absolute;
    top: 2700px;
}
.top2{
    background-color: darkslategray;
    height: 350px;
    width: 370px;
    position: absolute;
    left: 610px;
    top: 2700px;
}
.top3{
    background-color: dodgerblue;
    height: 350px;
    width: 370px;
    left: 990px;
    position: absolute;
    top: 2700px;
}
.top4{
    background-color: deeppink;
    height: 350px;
    width: 360px;
    position: absolute;
    left: 1370px;
    top: 2700px;
}
.bottommenu{
    background-color: black;
    height: 300px;
    width: 1500px;
    position: relative;
    left: 230px;
    top: 3200px;
}
.tab1{
    background-color: antiquewhite;
    width: 210px;
    height: 60px;
    position: absolute;
    left: 870px;
    top: 1180px;
}
.tab2{
    background-color: antiquewhite;
    width: 210px;
    height: 60px;
    position: absolute;
    left: 870px;
    top: 1870px;
}
.tab3{
    background-color: antiquewhite;
    height: 60px;
    width: 370px;
    position: absolute;
    left: 230px;
    top: 2990px;
}
.tab4{
    background-color: antiquewhite;
    height: 60px;
    width: 370px;
    position: absolute;
    left: 610px;
    top: 2990px;
}
.tab5{
    background-color: antiquewhite;
    height: 60px;
    width: 370px;
    position: absolute;
    left: 990px;
    top: 2990px;
}
.tab6{
    background-color: antiquewhite;
    height: 60px;
    width: 360px;
    position: absolute;
    left: 1370px;
    top: 2990px;
}