body{
    background-color: burlywood;
    height: 3050px;
    width: 100vw;
}
.menu{
    background-color: black;
    height: 12vh;
    width: 50vw;
    position: relative;
    top: 0;
    left: 800px;
}
.searchbar{
    background-color: aliceblue;
    height: 100px;
    width: 1000px;
    position: relative;
    left: 1450px;
    top: 70px;
}
.gifbar{
    background-color: brown;
    height: 15vh;
    width: 50vw;
    position: absolute;
    left: 800px;
    top: 250px;
}
.gif1{
    background-color: aliceblue;
    height: 230px;
    width: 320px;
    position: absolute;
    left: 820px;
    top: 270px;
}
.gif2{
    background-color: aliceblue;
    height: 230px;
    width: 320px;
    position: absolute;
    left: 1160px;
    top: 270px;
}
.gif3{
    background-color: aliceblue;
    height: 230px;
    width: 320px;
    position: absolute;
    left: 1500px;
    top: 270px;
}
.gif4{
    background-color: aliceblue;
    height: 230px;
    width: 630px;
    position: absolute;
    left: 1840px;
    top: 270px;
}
.block1{
    background-color: cadetblue;
    height: 550px;
    width: 900px;
    position: absolute;
    top: 550px;
    left: 800px;
}
.block2{
    background-color: aqua;
    height: 550px;
    width: 380px;
    position: absolute;
    top: 550px;
    left: 1715px;
}
.block3{
    background-color: aqua;
    height: 550px;
    width: 380px;
    position: absolute;
    top: 550px;
    left: 2110px;
}
.block4{
    background-color: blueviolet;
    height: 550px;
    width: 380px;
    position: absolute;
    top: 1115px;
    left: 800px;
}
.block5{
    background-color: crimson;
    height: 270px;
    width: 1292px;
    position: absolute;
    top: 1115px;
    left: 1195px;
}
.block6{
    background-color: chartreuse;
    height: 265px;
    width: 1292px;
    position: absolute;
    top: 1400px;
    left: 1195px;
}
.block7{
    background-color: blue;
    height: 550px;
    width: 900px;
    position: absolute;
    top: 1800px;
    left: 800px;
}
.block8{
    background-color: cornsilk;
    width: 380px;
    height: 550px;
    left: 1715px;
    position: absolute;
    top: 1800px;
}
.block9{
    background-color: coral;
    height: 550px;
    width: 380px;
    position: absolute;
    left: 2110px;
    top: 1800px;
}
.block10{
    background-color: black;
    height: 550px;
    width: 380px;
    position: absolute;
    left: 800px;
    top: 2365px;
}
.block11{
    background-color: darkmagenta;
    height: 265px;
    width: 1292px;
    position: absolute;
    top: 2365px;
    left: 1195px;
}
.block12{
    background-color: lightgreen;
    height: 265px;
    width: 1292px;
    position: absolute;
    top: 2650px;
    left: 1195px;
}
.endmenu{
    background-color: black;
    height: 100px;
    width: 50vw;
    position: absolute;
    left: 800px;
    top: 3000px;
}