<!-- start of partials/header -->
<div class="menubar">
    <div class="circleforlogo">
            <img src="/img/melogo.png" alt="profileimage">
    </div>
</div>
<div class="grid1">
    <div class="tab">
        <a href="/">
            Home
        </a>
    </div>
    <div class="tab">
        <a href="/aboutme/">
            About Me
        </a>
        
    </div>
    <div class="tab"><a href="/work/work/">Portfolio</a></div>
    <div class="tab">Contact Me</div>
</div>
<!-- end of partials/header -->